<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peng.news.mapper.NewsColumnMapper">

    <resultMap id="BaseResultMap" type="NewsColumnVO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="parentId" column="parent_id"/>
        <result property="externalLink" column="external_link"/>
        <result property="isHasChildren" column="is_has_children"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="ResultMapWithParentCol" type="NewsColumnVO" extends="BaseResultMap">
        <association property="parent" column="parent_id" select="selectTitleAndWithParentById"/>
    </resultMap>

    <resultMap id="ResultMapWithSettings" type="NewsColumnVO" extends="BaseResultMap">
        <association property="settings" javaType="NewsColSettingsPO">
            <id property="id" column="settings_id"/>
            <result property="enabled" column="enabled"/>
            <result property="menuOrder" column="menu_order"/>
            <result property="moduleOrder" column="module_order"/>
            <result property="showImgOnTheRight" column="show_img_on_the_right"/>
        </association>
    </resultMap>

    <select id="getChildrenNewsColumnListByParentId" resultMap="BaseResultMap">
       <!-- 新闻栏目必须开启 -->
        select t1.id id, title, is_has_children
        from news_column t1 LEFT join news_column_settings t2 on t2.col_id=t1.id
        where t2.enabled = 1 and
        <choose>
            <when test="parentId == null">
                parent_id is null
            </when>
            <otherwise>
                parent_id=#{parentId}
            </otherwise>
        </choose>
    </select>

    <select id="selectTitleAndWithParentById" resultMap="ResultMapWithParentCol">
        select t1.id id, title, parent_id
        from news_column t1 LEFT join news_column_settings t2 on t2.col_id=t1.id
        where t2.enabled = 1 and t1.id=#{colId}
    </select>

    <select id="columnListWithSettingsByParentId" resultMap="ResultMapWithSettings">
        select t1.id id, title, description, parent_id, external_link, is_has_children, t1.create_time create_time,t2.id settings_id, t2.enabled enabled, t2.menu_order menu_order, t2.module_order module_order, t2.show_img_on_the_right show_img_on_the_right
        from news_column t1 LEFT join news_column_settings t2 on t2.col_id=t1.id
        where
        <choose>
            <when test="parentId == null">
                parent_id is null
            </when>
            <otherwise>
                parent_id=#{parentId}
            </otherwise>
        </choose>
        order by menu_order,create_time
    </select>
</mapper>