<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peng.news.mapper.RoleResourceMapper">

    <select id="getAllResourceIdByRoleId" resultType="integer">
        select resource_id
        from role_resource
        where role_id=#{roleId}
    </select>
</mapper>